/* General styling */
header {
    position: sticky;
    top: 0;
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    z-index: 1000;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

body {
    position: relative;
    min-height: 100vh; 
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0px;
    padding: 0px;
}

h1 {
    text-align: center;
    color: #333;
    padding: 20px 0;
    background-color: #4CAF50;
    color: white;
    margin-bottom: 10;
}

h3 {
    text-align: center;
    color: #555;
}

.inpt{
    position: sticky;
    top: 50px;
    z-index: 10;
    width: 80%;
    margin: 5px auto;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2); 
    padding: 5px;
}

.content{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* margin: 10px; */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
}

th, td {
    padding: 12px;
}

s{
    color: #ac9797; 
}

th {
    background-color: #f2f2f2;
    color: #333;
}

td a {
    text-decoration: none;
    color: #007BFF;
}


/* Styling the form */
form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #0263ca;
}

button{
    border: none;
    border-radius: 3px;
    transition: transform 0.2s ease;
}
button:hover{
    border: 1px solid #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.btn-delete {
    background-color: #e74c3c;
    color: white;
}
.btn-delete:hover {
    background-color: #c0392b; 
}

.btn-edit {
    background-color: #3498db; 
    color: white;
}
.btn-edit:hover {
    background-color: #2980b9;
}

.btn-complete {
    background-color: #2ecc71; 
    color: white;
}
.btn-complete:hover {
    background-color: #27ae60;
}

.btn-incomplete {
    background-color: #f1c40f;
    color: white;
} 
.btn-incomplete:hover {
    background-color: #f39c12;
}
h4 {
    color: red;
    text-align: center;
}

/* Responsive design */
@media screen and (max-width: 768px) {
    .content {
        width: 95%;
    }

    input[type="text"] {
        width: 60%;
    }
}
