{% extends 'base.html'%} {% block head %}
<title>TAsk TRacker</title>
{%endblock%} {% block body %}
<div class="content">
  {% if tasks | length < 1 %}
  <h3>No Task here... Create one</h3>
  {% else%}
  <table>
    <tr>
      <th><b>Task</b></th>
      <th><b>Date</b></th>
      <th><b>Actions</b></th>
    </tr>
    {% for task in tasks%}
    <tr>
      <th>{{task.content}}</th>
      <th>{{task.created.strftime("%d-%m-%y")}}</th>
      <th>
        <a href="/delete/{{ task.id }}" method="POST" style="display: inline">
          <button type="submit" class="btn btn-delete">Delete</button>
        </a>
        <a href="/edit/{{ task.id }}">
          <button type="button" class="btn btn-edit">Edit</button>
        </a>
      </th>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  <form action="/" method="POST">
    <input type="text" name="content" id="content" />
    <input type="submit" value="ADD TASK" id="add_task" />
  </form>
</div>
{% if error%}
<h4>Task cannot be empty</h4>
{% endif %} {%endblock%}
